<div id="login">
    <form method="post" action="/post/payment">
        <fieldset>
            <p><select class="submit-check" name="name">
                <option>Oskar</option>
                <option>Sandra</option>
                <option>Uibo</option>
                <option>Luiza</option>
            </select></p>
            <!-- JS because of IE support; better: placeholder="Username" -->
            <p><input class="submit-check" name="amount" type="number" step="0.01" required placeholder="Amount"
                      value="2.25"></p>
            <!-- JS because of IE support; better: placeholder="Password" -->
            <input hidden id="date123" type="date" value="2017-06-09">
            <p><input class="submit-check" id="date" name="date" type="date" value="{{date.year}}-{{date.month}}-{{date.day}}" required></p>
            <p><select class="submit-check" name="description">
                <option>Food</option>
                <option>Alchohol</option>
                <option>Food & Alcohol</option>
                <option>Housekeeping stuff</option>
                <option>Other shit</option>
            </select></p>
            <p><input class="submit-check" type="submit" value="Submit"></p>
        </fieldset>
    </form>
</div>

<input type="hidden" class="oskar" value="{{people.oskar.spent}}">
<input type="hidden" class="sandra" value="{{people.sandra.spent}}">
<input type="hidden" class="uibo" value="{{people.uibo.spent}}">
<input type="hidden" class="luiza" value="{{people.luiza.spent}}">

<form class="filter-form" method="post" action="/filter/update">
  <div>
    <input class="submit-check filter-button" type="submit" value="Filter">
    <select class="submit-check filter-options" name="description">
        <option>All time</option>
        {{#each past_months}}
            <option class="{{this.year}}-{{this.month_number}}">{{this.year}}-{{this.month_name}}</option>
        {{/each}}
    </select>
  </div>
</form>
<p class="selected">{{selected}}</p>
<div id="container" style="fill: #e5e5e5;min-width: 310px; height: 400px; margin: 0 auto"></div>

<div class="bar-container">
    <div class="printer">
        <section class="black-precentage-section">
            <article>
                <div class="chart">
                    <div class="bar bar-cartridge bar-{{math people.oskar.precentage '*' 2}} navy">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment">
                                <p class="p-adjust-black">Oskar {{people.oskar.spent}}
                                    € </p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <div class="printer">
        <section class="black-precentage-section">
            <article>
                <div class="chart">
                    <div class="bar bar-cartridge bar-{{math people.sandra.precentage '*' 2}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment">
                                <p class="p-adjust-black">Sandra {{people.sandra.spent}}
                                    € </p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>

    <div class="printer">
        <section class="black-precentage-section">
            <article>
                <div class="chart">
                    <div class="bar bar-cartridge bar-{{math people.uibo.precentage '*' 2}} lime">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment">
                                <p class="p-adjust-black">Uibo {{people.uibo.spent}} € </p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>

    <div class="printer">
        <section class="black-precentage-section">
            <article>
                <div class="chart">
                    <div class="bar bar-cartridge bar-{{math people.luiza.precentage '*' 2}} yellow">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment">
                                <p class="p-adjust-black">Luiza {{people.luiza.spent}}
                                    € </p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>
<!--
<div id="containerpie" style="fill:#e5e5e5; min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>-->
